body{background-image: linear-gradient(rgba(270, 270, 270, 0.5), rgba(270, 270, 270, 0.5)),
                  url("3.png");
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-size: cover;}

h1{position: absolute;
        top: 12%;
        left:13%;}
p1{position: absolute;
        top: 22%;
        left:13%;
        right:53%;
}
p2{position: absolute;
        top: 47%;
        left:13%;
        right:53%;
}

p3{position: absolute;
        top: 75%;
        left:13%;
        right:53%;
}
navbar{background-color: #795C34;}
